@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

#chat-root {
  font-family: "Open Sans", "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  /* Structural Styles */
  /* Layout */
  /* Content */ }
  #chat-root h1, #chat-root h2, #chat-root h3, #chat-root h4, #chat-root h5, #chat-root h6, #chat-root a, #chat-root p, #chat-root li, #chat-root input, #chat-root textarea, #chat-root span, #chat-root div {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  #chat-root hr {
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-bottom: 0px; }
  #chat-root .window-height {
    height: 100vh; }
  #chat-root .window-width {
    width: 100vw; }
  #chat-root .full-size {
    align-self: stretch;
    display: flex;
    height: 100%;
    width: 100%; }
  #chat-root .center-children {
    align-items: center;
    display: flex;
    justify-content: center; }
  #chat-root .scroll-container {
    height: 100%;
    overflow-y: auto;
    width: 100%; }
    #chat-root .scroll-container::-webkit-scrollbar {
      width: 9px; }
    #chat-root .scroll-container::-webkit-scrollbar-track {
      background: #f4f4f4;
      border-radius: 10px; }
    #chat-root .scroll-container::-webkit-scrollbar-thumb {
      background: #ddd;
      border: none;
      border-bottom: 2px solid #fff;
      border-top: 2px solid #fff;
      border-radius: 10px; }
    #chat-root .scroll-container::-webkit-scrollbar-thumb:window-inactive {
      background: #ccc; }
  #chat-root .padded {
    padding: 25px 50px; }
  #chat-root .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  #chat-root #login-container {
    position: relative;
    height: 100vh;
    width: 100vw; }
    #chat-root #login-container #login-background {
      background: #333;
      height: 100vh;
      width: 100vw; }
    #chat-root #login-container #login-content {
      background: #fff;
      left: 0;
      top: 0;
      height: 100vh;
      max-width: 320px;
      padding: 25px 50px;
      position: fixed;
      width: 30%;
      z-index: 100; }
  #chat-root .chat-room {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1; }
  #chat-root .chat-room-main {
    display: flex;
    flex: 1;
    flex-direction: column; }
  #chat-root .chat-room-sidebar {
    flex-basis: 240px; }
  #chat-root .message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 0px;
    position: relative; }
    #chat-root .message .message-gutter {
      display: flex;
      min-height: 10px;
      min-width: 40px;
      max-width: 40px;
      overflow: hidden; }
      #chat-root .message .message-gutter .hover-timestamp {
        color: #999;
        display: none;
        font-size: 10px; }
    #chat-root .message .message-content {
      padding-right: 10px;
      white-space: pre-wrap;
      word-wrap: break-word;
      width: 100%; }
      #chat-root .message .message-content .message-actions {
        display: none;
        position: absolute;
        top: -10px;
        right: 5px;
        z-index: 100; }
      #chat-root .message .message-content pre {
        white-space: pre-wrap;
        word-break: normal;
        word-wrap: break-word; }
    #chat-root .message:hover {
      background: #f7f7f7; }
      #chat-root .message:hover .hover-timestamp {
        display: block; }
      #chat-root .message:hover .message-actions {
        display: block; }
  #chat-root .chat-message-form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1; }
    #chat-root .chat-message-form .chat-message-form-input-container {
      width: 100%; }
      #chat-root .chat-message-form .chat-message-form-input-container .ant-form-item-control-wrapper {
        width: 100%; }
      #chat-root .chat-message-form .chat-message-form-input-container .ant-form-item-control {
        line-height: inherit; }
      #chat-root .chat-message-form .chat-message-form-input-container .chat-message-form-input {
        width: 100%; }
    #chat-root .chat-message-form .chat-message-form-actions {
      flex-shrink: 0; }
  #chat-root .chat-room-main .section-footer {
    padding: 10px; }
