#chat-root {

  .chat-portable {
    border: 1px solid #eee;
    box-shadow: 0px 0px 15px rgba(0, 0,0, 0.05);
    bottom: 0;
    padding: 8px;
    position: fixed;
    right: 16px;

    &.closed {

    }

    &.open {
      height: 80%;
      max-height: 400px;
      max-width: 400px;
      min-height: 160px;
      min-width: 200px;
      width: 30%;
    }

    .chat-portable-open {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;

      .chat-container {

      }

      .chat-form-container {
        padding: 8px;
      }
    }
  }
}
