html,
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100vw; }

/* Structure */
#chat-root {
  /* Structure - Room */
  /* Sidebar */
  /* Content */
  /* Themes */ }
  #chat-root .ant-layout {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed; }
  #chat-root #sidebar {
    flex-shrink: 0;
    padding: 15px;
    width: 260px; }
  #chat-root #logo {
    color: #515365;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase; }
  #chat-root #main {
    display: flex;
    flex-direction: column;
    width: 100%; }
  #chat-root #header {
    padding: 10px 0 10px 20px;
    width: 100%; }
  #chat-root #content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%; }
    #chat-root #content.padded {
      padding: 20px; }
  #chat-root .chat-room-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 0 10px 0; }
  #chat-root .chat-room-sidebar {
    flex-basis: 240px;
    padding: 0 0 0 20px; }
  #chat-root .chat-room-content-footer {
    padding: 0 0 0 20px; }
  #chat-root #sidebar .chat-rooms-list-heading {
    display: flex;
    justify-content: space-between; }
    #chat-root #sidebar .chat-rooms-list-heading .chat-new-room-link {
      color: rgba(0, 0, 0, 0.85); }
  #chat-root #sidebar .chat-sidebar-rooms-list-container {
    margin: 15px 0; }
    #chat-root #sidebar .chat-sidebar-rooms-list-container .chat-room-link {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%; }
  #chat-root .chat-search {
    width: 100%; }
  #chat-root .chat-resource-list-container {
    height: 100%;
    width: 100%; }
    #chat-root .chat-resource-list-container ul.chat-resource-list {
      width: 100%; }
      #chat-root .chat-resource-list-container ul.chat-resource-list li {
        border: 1px solid #eee;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px 0;
        padding: 15px; }
  #chat-root .message-list {
    padding: 0 0 0 16px; }
  #chat-root .message {
    padding: 4px 0 4px 4px; }
  #chat-root .ant-layout.theme-light #sidebar {
    background: #fdfdfd;
    box-shadow: inset -20px 0px 30px -20px #f1f1f1; }
