html,
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

/* Structure */

#chat-root {

  .ant-layout {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
  }

  #sidebar {
    flex-shrink: 0;
    padding: 15px;
    width: 260px;
  }

    #logo {
      color: #515365;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

  #main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

    #header {
      padding: 10px 0 10px 20px;
      width: 100%;
    }

    #content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      width: 100%;

      &.padded {
        padding: 20px;
      }
    }

  /* Structure - Room */

  .chat-room-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 0 10px 0;
  }

  .chat-room-sidebar {
    flex-basis: 240px;
    padding: 0 0 0 20px;
  }

  .chat-room-content-footer {
    padding: 0 0 0 20px;
  }

  /* Sidebar */

  #sidebar {

    .chat-rooms-list-heading {
      display: flex;
      justify-content: space-between;

      .chat-new-room-link {
        color: rgba(0, 0, 0, 0.85);
      }
    }

    .rooms-list-container {
      margin: 15px 0;
    }
  }

  /* Content */

  .message-list {
    padding: 0 0 0 16px;
  }

  .message {
    padding: 4px 0 4px 4px;
  }

  /* Themes */

  .ant-layout {

    &.theme-light {

      #sidebar {
        background: #fdfdfd;
        box-shadow: inset -20px 0px 30px -20px #f1f1f1;
      }
    }
  }
}
