html,
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

#chat-root {

  .ant-layout {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
  }

  #sidebar {
    flex-shrink: 0;
    padding: 15px;
    width: 260px;
  }

    #logo {
      color: #515365;
      font-size: 14px;
      font-weight: 600;
    }

  #content {
    width: 100%;
  }
}
