html,
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

/* Dynamically created DOM elements */

.ant-dropdown-menu-item button {
  background: inherit;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

/* Structure */

#chat-root {

  .ant-layout {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
  }

  #sidebar {
    flex-shrink: 0;
    padding: 15px;
    width: 260px;
  }

    #logo {
      color: #515365;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

  #main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

    #header {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 10px 20px 10px 20px;
      width: 100%;
    }

    #content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      width: 100%;

      &.padded {
        padding: 20px;
      }
    }

  /* Structure - Room */

  .chat-room-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 0 10px 0;
  }

  .chat-room-sidebar {
    flex-basis: 240px;
    padding: 0 0 0 20px;
  }

  .chat-room-content-footer {
    padding: 0 0 0 20px;
  }

  /* Sidebar */

  #sidebar {

    .chat-rooms-list-heading {
      display: flex;
      justify-content: space-between;

      .chat-new-room-link {
        color: rgba(0, 0, 0, 0.85);
      }
    }

    .chat-sidebar-rooms-list-container {
      margin: 15px 0;

      .chat-room-link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        button {
          display: none;
        }

        &:hover button {
          display: inline-block;
        }
      }
    }
  }

  /* Content */

  button.anchor {
    background: inherit;
    border: none;
    margin: 0;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }

  .chat-room-header-actions button {
    font-size: 20px;
  }

  .chat-search {
    width: 100%;
  }

  .chat-resource-list-container {
    height: 100%;
    width: 100%;

    ul.chat-resource-list {
      width: 100%;

      li {
        border: 1px solid #eee;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px 0;
        padding: 15px;
      }
    }
  }

  .message-list {
    padding: 0 0 0 16px;
  }

  .message {
    padding: 4px 0 4px 4px;
  }

  /* Themes */

  .ant-layout {

    &.theme-light {

      #sidebar {
        background: #fdfdfd;
        box-shadow: inset -20px 0px 30px -20px #f1f1f1;
      }
    }
  }
}
